<mat-card class="login">
    <mat-card-header>
        <mat-card-title>Projeto Covid</mat-card-title>
        <mat-card-subtitle>Entre com seu login</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <input matInput type="text" formControlName="username" placeholder="Login"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    </mat-form-field>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Login é obrigatória</div>
                    </div>
                </div>
                <div class="col-12">
                    <mat-form-field>
                        <input matInput type="password" formControlName="password" placeholder="Senha"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    </mat-form-field>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Senha é obrigatória</div>
                    </div>
                </div>

                <div *ngIf="error" class="invalid-feedback">{{error}}</div>

                <div class="acao-btn">
                    <button [disabled]="loading" mat-flat-button class="color-2 right">
                        <img *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        Entrar
                    </button>
                </div>
                <div class="">
                    <button mat-flat-button class="color-2" (click)="irCampanha()">
                        Cadastro campanha
                    </button>
                    <button mat-flat-button class="color-2" (click)="irVoluntario()">
                        Cadastro voluntário
                    </button>
                    <button mat-flat-button class="color-2" (click)="irInstituicao()">
                        Cadastro instituição
                    </button>
                    <button mat-flat-button class="color-2" (click)="irInstituicaoContinua()">
                        Completar cadastro instituição
                    </button>
                    <button mat-flat-button class="color-2" (click)="irVoluntarioContinua()">
                        Completar cadastro voluntário
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>




</mat-card>