<mat-toolbar>
  <mat-toolbar-row>
    <span>Completar registro voluntário</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <div class="col-12">
      <mat-form-field>
        <input matInput [(ngModel)]="usuario.nome"  disabled  placeholder="Nome">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <input matInput [(ngModel)]="usuario.email"  disabled  placeholder="E-mail">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.cpf" placeholder="CPF">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input matInput [(ngModel)]="data.telefone" placeholder="Telefone">
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Whatsapp</mat-label>
          <mat-select [(ngModel)]="data.whatsapp" value="16px">
            <mat-option value="sim">Sim</mat-option>
            <mat-option value="nao">Não</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <input matInput [(ngModel)]="data.cep" placeholder="Cep">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.logradouro" placeholder="Rua/Avenida">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.numero" placeholder="Número">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.complemento" placeholder="Complemento">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.bairro" placeholder="Bairro">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.municipio" placeholder="Município">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.facebook" placeholder="facebook">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <input matInput [(ngModel)]="data.instagram" placeholder="Instagram">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>  
  <button mat-button class="color-azul" (click)="criar()">Salvar e criar campanha</button>
</mat-card>

<code>
  {{data |json}}
</code>