<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="color-vermelho">
        <i class="material-icons">help_outline</i>
      </div>
      <mat-card-title>{{data.titulo}}</mat-card-title>
      <mat-card-subtitle>{{data.mensagem}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary"  [mat-dialog-close]="true">Sim</button>
  <button mat-raised-button  [mat-dialog-close]="false">Não</button>
</mat-dialog-actions>