@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mat-toolbar.mat-primary{
    background: #fff !important;
    color: #000 !important;
    padding: 30px;
}
.top{
    margin-top: -15px;
}

.border{
    border: solid 1px red;
}

.btn-header{
    width: 200px !important;    
    text-align: center !important;
}

[data-notify="container"][class*="alert-"] {
    background-color: #BCD7F4;
    border-width: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    max-width: 500px;
}

[data-notify="container"].alert-info {
    background-color: #FFFFC0;
}

[data-notify="container"].alert-danger {
    background-color: #FFC0C0;
}

[data-notify="container"].alert-success {
    background-color: #C0E0C0;
}

[data-notify="container"][class*="alert-"]>[data-notify="message"] {
    font-weight: 400;
    margin-bottom: 5px;
}

[data-notify="icon"] {
    position: relative;
    top: 5px;
}

[ data-notify="dismiss"] {
    right: -10px !important;
}
* {
    box-sizing: border-box;
}

html {
    background: #fff;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mouse {
    cursor: pointer;
}

.left {
    float: left;
}

.acao-btn {}

.acao-btn button {
    right: 10px;
}

button {
    /*color: #fff !important;*/
}

.right {
    float: right;
}

.color-1,
.color-1:hover,
.color-azul,
.color-azul:hover {
    background: #1e88e5 !important;
    color: #fff !important;
}

.color-2,
.color-2:hover,
.color-verde,
.color-verde:hover {
    background: #56AF5A !important;
    color: #fff !important;
}

.color-3,
.color-3:hover,
.color-laranja,
.color-laranja:hover {
    background: #FC940B !important;
    color: #fff !important;
}

.color-4,
.color-4:hover {
    background: #9BC9F2 !important;
    color: #fff !important;
}

.color-cinza,
.color-cinza:hover {
    background: #9A9A9A !important;
    color: #fff !important;
}

.color-5,
.color-5:hover,
.color-vermelho,
.color-vermelho:hover {
    background: #E94440 !important;
    color: #fff !important;
}

.color-6,
.color-6:hover {
    background: #9229AD !important;
    color: #fff !important;
}

.mat-card-avatar {
    height: 40px !important;
    width: 40px !important;
    padding: 8px !important;
    color: #fff !important;
}

mat-form-field {
    width: 100% !important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.active-list-item {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.46);
    color: #fff!important;
    background: #1e88e5 !important;
}

.spinner {
    margin: 30px auto 0 auto;
}

.mat-row:nth-child(even) {}

.mat-row:nth-child(odd) {
    background-color: #F2F2F2;
}

.mat-standard-chip {
    min-height: 22px!important;
}

.cadastro-card {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:  20px;
  }

  .center{
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .painel{
    background-color: #EDEDED;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.painel-i{
    background-color: #FFF;    
}

.mat-mensagem{
    font: 400 25px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0 0 16px;
    white-space: pre-line;
}

.mat-mensagem-titulo{
    font: 500 30px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0 0 16px;
    white-space: pre-line;
    }
 
.mat-mensagem-titulo2{
    font: 600 40px/42px Roboto,"Helvetica Neue",sans-serif;
    margin: 0 0 16px;
    white-space: pre-line;
}

.mat-display-3, .mat-typography .mat-display-3 {
    font: 400 56px/60px Roboto,"Helvetica Neue",sans-serif;
    margin: 0 0 64px;
    letter-spacing: -.02em;
    white-space: pre-line;
}
.btn-vakinha{
    background-color: #FF7978;
    color: #fff;    
    width: 100% !important;
    height: 80px;
    margin-bottom: 10px !important;
    font: 400 20px/30px Roboto,"Helvetica Neue",sans-serif;
}
.mat-flat-button{
    border-radius: 0px!important;
}

.left-10{
    margin-left: 10px !important;
}

.footer{    
    color: #fff;    
    background: #404040;    
    height: 70px;    
    left: 0;
    bottom: 0;
    width: 100%;        
    text-align: center;
}

.footer .mat-mensagem{
    padding-top:20px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.campanha{
    min-height:250px;    
}

#header-mobile{
    display: none;
}

.toolbar-icon {
    margin-left: 15px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.nav-container {
    width: 100%;
    height: 800px;
    ;
    margin: 0px;
}

.mat-drawer-content.mat-sidenav-content {
    background: #EEEEEE;
}

.mat-toolbar.mat-primary {
    background: #1e88e5;
    color: #fff;
}

.sidebar {
    width: 200px;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    height: 800px !important;
}

.mat-list-item {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

.menu .mat-icon {
    margin-right: 5px !important;
}

.br-mob{
    display: none;
    height: 0px;
}

@media (max-width: 600px) {    
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        width: 100% !important;
    }
    .row::after{
        width: 98% !important;
    }

    .mat-display-3, .mat-typography .mat-display-3{
        font: 400 20px/30px Roboto,"Helvetica Neue",sans-serif;
        margin: 0 0 64px;
        letter-spacing: -.02em;
    }

    .mat-mensagem-titulo {
        font: 500 20px/30px Roboto,"Helvetica Neue",sans-serif;
        margin: 0 0 16px;
    }
    .mat-mensagem-titulo2{
        font: 500 20px/30px Roboto,"Helvetica Neue",sans-serif;
        margin: 0 0 16px;
    }
    .mat-mensagem{
        font: 500 19px/25px Roboto,"Helvetica Neue",sans-serif;
        margin: 0 0 16px;
    }

    [data-notify="container"][class*="alert-"] {       
        max-width: 330px!important;
    }
    .painel {        
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 12px;
        padding-bottom: 5px;
        text-align: center !important;
    }   
    .footer {
        color: #fff;
        background: #404040;        
    }
    .footer .mat-mensagem {        
        font: 400 20px/25px Roboto,"Helvetica Neue",sans-serif;        
    }

    #banner {
        max-width:350px;        
    }
    #header{
        display: none!important;
    }
    #header-mobile{
        display: block;
    }
    .br-mob{
        display: block;
    }
    .btn-header{
        width: 100px !important;    
        text-align: center !important;
    }
    
}

