<div class="col-12">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="color-3">
        <i class="material-icons">search</i>
      </div>
      <mat-card-title>Buscar Referências</mat-card-title>
      <mat-card-subtitle>Utilize os campos abaixo para realizar a busca</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <mat-form-field>
            <input matInput [(ngModel)]="parametro.filtros.descricao" placeholder="Descrição">
          </mat-form-field>
        </div>
      </div>
      <button mat-mini-fab color="primary" title="Adicionar ReferÊncia"  (click)="openDialogNew()">
        <mat-icon aria-label="icon-buttont icon">add</mat-icon>
      </button>
      <div class="row">
        <div class="acao-btn">
          <button mat-flat-button class="color-2 right" (click)="find()">Buscar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="col-12">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="color-4">
        <i class="material-icons">list</i>
      </div>
      <mat-card-title>Resultado da busca</mat-card-title>
      <mat-card-subtitle>Para modificar o resultado utilize os filtros acima</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="" (matSortChange)="sortData($event)">
        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Referência </th>
          <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef class="acao"> AÇÃO </th>
          <td mat-cell *matCellDef="let element" class="acao">
              <i class="material-icons mouse" matTooltip="Editar" [matTooltipPosition]="'above'" (click)="openDialogEdit(element)">edit</i>
              <i class="material-icons mouse" matTooltip="Excluir" [matTooltipPosition]="'above'" (click)="openDialogExcluir(element)">close</i>
              <i class="material-icons mouse" matTooltip="Conta" [matTooltipPosition]="'above'" (click)="openDialogConta(element)">attach_money</i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginatorComponent *ngIf="paginador" [length]="paginador.total" [pageSize]="paginador.elementos"
        (page)="find($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>